{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.1"}}}]}.
{shell, [{apps, [airbro]}]}.

{project_plugins, [rebar3_format, erlfmt]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]},
    {exclude_files, ["src/erlfmt_parse.erl"]}
]}.
